.chatPanel .chatTitle {
  height: 40px;
  border-top: 1px solid #9BA3AE;
  border-bottom: 1px solid #333;
  background-color: #6B7888;
  background: -webkit-gradient(linear, left top, left bottom, from(#6b7888), to(#545e6a), color-stop(0.1, #6a7786), color-stop(0.5, #5e6977), color-stop(0.9, #56616d), color-stop(1, #545e6a));
  background-image: -moz-linear-gradient(top, #6a7786 10%, #5e6977 50%, #56616d 90%, #545e6a 100%);
  position: relative;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
}

.chatPanel .chatNameWrap {
  border-radius: 6px 6px 0 0;
  text-align: center;
  font-size: 16px;
}

.chatPanel .chatNameWrap .chatName {
  margin: 0 auto;
  width: 400px;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 10px;
  font-size: 14px;
  font-family: '微软雅黑';
  color: #fff;
  text-shadow: none;
}
/*会话内容窗体*/
.chatPanel .chatScorll {
  height: 390px;
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  /*border-bottom:1px solid #bebebe;*/
  background-color: #EFF3F7;
}
.chatPanel .chatContent {
  padding: 10px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.chatItem {
  padding: 4px 0px 10px 0px;
  _background: none;
  _border: none;
}
.chatItemContent {
  cursor: pointer;
}
.cloudPannel {
  position: relative;
  _position: static;
}
.chatItem .time {
  font-size: 12px;
  padding: 2px 0;
  margin: 0px auto 10px;
  width: 100px;
  border-radius: 20px;
  color: #7f7f7f;
  /*background-color:#EEE;*/
  text-shadow: 0 1px 0 #fff;
}
.chatItem .time .timeBg {
  height: 1px;
  width: 27px;
  margin-top: 8px;
  background-color: #B4B8BD;
}
.chatItem .avatar {
  width: 38px;
  height: 38px;
  border: 1px solid #ccc\9;
  border: 1px solid #FFF;
  box-shadow: 0px 1px 0px #B3B6BA;
}
.chatItem .cloud {
  max-width: 300px;
  /*border-radius:11px; border-width:1px; border-style:solid; */
  cursor: default;
  position: static;
}
.chatItem .cloud {
  /*for ie*/
  /*position: relative;*/
  padding: 0px;
  margin: 0px;
}
.chatItem .cloudContent {
  /* position:relative;for ie*/
  text-align: left;
  /*padding:2px; line-height:1.2; */
  font-weight: normal;
  font-size: 14px;
  min-height: 20px;
  word-wrap: break-word;
}

.chatPanel .chatContainer {
background: #fff;
position: relative;
border-radius: 2px 2px 6px 6px;
-webkit-border-radius: 2px 2px 6px 6px;
-moz-border-radius: 2px 2px 6px 6px;
border: 1px solid #424448;
_height: 400px;
overflow: hidden;
}